{% load web_extras %}
{% load crispy_forms_tags %}
{% for field in form %}
{% if field.name not in child_facettes %}
<div class="row">
    <div class="col-9 ku-facette-content">
        <!-- TODO: Render to add a ku-18n span here -->
        {{ field|as_crispy_field }}
    </div>
    <div class="col-3">
        {% weight field weights%}
    </div>
    {% sub_facettes form field.name weights %}
</div>
{% endif %}
{% endfor %}
{% if form.errors %}
{% errors form.errors %}
{% endif %}
{% if form.warnings %}
{% warnings form.warnings %}
{% endif %}