{% load web_extras %}
{% load crispy_forms_tags %}
{% for field  in form %}
    {% with prev=form.fields|prev:forloop.counter0 %} 
        {% if field.name in child_facettes %}
            <div class="collapse child-facette child-{{prev}}" id="collapse-{{prev}}">
                {{ field|as_crispy_field }}
            </div>
        {%else%}
            {{ field|as_crispy_field }}
        {% endif %}
    {% endwith %}
{% endfor %}
{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}