{% load i18n%}
<div class="row">
    <div class="col-6">
        CTX: {{ page }}
    </div>
    <div class="col-3">
        <!-- {% trans "BTN_PREV_PAGE" %} -->
        {% if page.previous_page %}
            <a class="btn btn-secondary" href="?page={{page.next_page.pk}}">
                {% trans "BTN_PREV_PAGE" %}
            </a>
        {% endif %}
    </div>
    <div class="col-3">
        <!-- {% trans "BTN_NEXT_PAGE" %} -->
        {% if page.next_page %}
            <input class="btn btn-primary" type="submit" value="{% trans "BTN_NEXT_PAGE" %}">
        {% endif %}
    </div>
</div>