{% load web_extras %}
{% load i18n %}
<h2>{% _i18n_ language_code "WELCOME_WIDGET_HEADER"%}</h2>
<p class="mb-2 mt-2">
    {% _i18n_ language_code  "WELCOME_WIDGET_TEXT"%}
</p>
<ul class="welcome-widget-list mt-2">
    <li class="mb-2"><i class="bi bi-skip-forward me-1"></i> {% _i18n_ language_code  "WELCOME_WIDGET_SKIP_QUESTIONS"%}</li>
    <li class="mb-2"><i class="bi bi-view-list me-1"></i> {% _i18n_ language_code  "WELCOME_WIDGET_GET_ANSWER_ANY_TIME"%}</li>
    <li class="mb-2"><i class="bi bi-list-ol me-1"></i>{% _i18n_ language_code  "WELCOME_WIDGET_ANY_ORDER"%}</li>
    <li class="mb-2"><i class="bi bi bi-bookmark-fill ku-step-marked me-1"></i>{% _i18n_ language_code  "WELCOME_MARK_UNSURE"%}</li>
    <li class="mb-2"><i class="bi bi-x-octagon-fill me-1"></i> {% _i18n_ language_code  "WELCOME_WIDGET_DELETE_ANY_TIME"%}</li>
    <li class="mb-2"><i class="bi bi-plus-slash-minus me-1"></i> {% _i18n_ language_code  "WELCOME_WIDGET_MARK_WEIGHT"%}</li>
    <li class="mb-2"><i class="bi bi-flag me-1"></i> {% _i18n_ language_code  "WELCOME_WIDGET_FLAG"%}</li>
</ul>