design/node_modules/
venv/
code/kuusi/db.sqlite3
__pycache__/
static/*.css
static/*.css.map
.DS_Store
*.mo
static/admin
static/*.css
code/kuusi/kuusi/legal.py
static/*
!static/logo.svg
!static/logo.png
!static/icon.svg
!static/*.css
!static/*.css.map
!static/*.js
!static/bi-fonts
!static/flags
design/yarn-error.log
dummy-settings.py
dummy-server-assets.py
NOTES.md
doc/tools/env.py
doc/tools/out
doc/tools/old-translations
doc/tools/viisi.json
locale
dummy*
cache*
locale-pipeline*
docker.sh
.vscode
doc/tools/readme-generate/node_modules
doc/tools/readme-generate/yarn-error.log

# for manage.py collectstatic
static_root/*
!static_root/.gitkeep

code/frontend/sdk