a{
	color: #337ab7;
}
a:hover{
	color: #98978b;
}
.selected{
	font-weight:bold;
}
.mark-important,.mark-important:hover,.fa-trash,.fa-trash:hover{
	text-decoration: none;
}
.fa-trash,.fa-trash:hover{
	color: #ff4136;
    text-decoration: none;
}
.important{
	color:orange !important;
	text-decoration: none !important;
	font-weight: bold;
}
.main-container{
	display:none;
}
.hidden{
	display:none;
}
.distribution{
	margin-bottom: 1em !important;
}
.panel-title{
	display:inline;
}
.row{
	margin-left:-15px;
	margin-right: -15px;
}
@media screen and (max-device-width: 1600px){
	.fixed-box{
		position: fixed;
		right: 11%;
		max-width: 12%;
	}
}
@media screen and (min-device-width: 1600px){
	.fixed-box{
		position: fixed;
		right: 19%;
		max-width: 11%;
	}
}
.container{
	padding-top: 40px;
}
body{
	background: url(./assets/bg.jpg);
}
.button-left-nav{
	color: white;
    display: block;
    width: 70%;
}
.spacer{
	display: block;
	height: 7px;
}
.flag{
	padding-top: 7px;
    width: 40px;

	margin-top:0.4em !important;
}
.flags{
	display:inline !important;
	padding-right: 0px !important;
}
.distro-logo{
	max-width: 18%;
    max-height: 50%;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    float: left;
}
.rating{
	text-align: center;
    padding-bottom: 1em;
}
.rating-sent{
	text-align: center;
    padding-bottom: 1em;
    font-size: large;
}
#rating-stars{
	margin: 0 auto;
    padding-bottom: 1em;
}
.rating textarea{
	width: 73%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}
.result-collapse {
	 transition: height 0.01s;
}
.visible{
	display:block !important;
}
.loader{
	display: none;
	position: fixed;
    top: -27%;
    width: 100%;
    text-align: center;
}
.loader p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
		font-size: x-large;
}
.loader-image-wrapper{
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 1em;
		background-color: #999999;
		border-radius: 1.7em;
		padding: 0.7em;
		padding-right: 1.4em;
		padding-left: 1.1em;
}
.beta{
	color: white;
	font-weight: bold;
	font-family: courier new;
	text-transform: uppercase;
	margin-top: 0em;
	letter-spacing: 2px;
}
.noscript{
	width: 26%;
	margin: 0 auto;
	margin-top: 1em;
	text-align: left;
}
.vendor{
	margin-right: 5px;
    margin-bottom: 4px;
}
.navbar-brand>img {
    display: block;
}
.brand{
	width: 160px;
    height: 24px;
}
.answered{
	font-weight: bold;
}
.social{
	margin-top: 1em;
	margin-bottom: 1em;
}
.social a{
	font-size:x-large;
	padding-right:0.5em;
}
.share-link{
	padding-bottom: 0.7em;
}
.share-link input{
	width: 73%;
	margin: 0 auto;
}
.link{
	margin-left:1em;

}
.fa-twitter{
	color: #55ACEE;
}
.fa-google-plus{
	color: red;
}
.fa-facebook{
	color: #3B5998;
}
.fa-github{
	color:grey;
}
.largelogo{
	max-width: 60%;
}
footer{
	position: fixed;
    bottom: 1em;
    right: 7em;
}
.imageAnswer img{
	width: 30%;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    float: left;
}
.imageAnswer{
	display-list-style:none;
}
ul.image{
	display:inline;
	list-style: none;
}
.image.selected{
	border: 2px solid #337ab7;
}
.tags{
	display: block;
    width: 100%;
    margin-top: 2em;
}
.tags span{
    font-weight: bold;
	display:block;
}
.tags span i{
	width:3%;
}
.fa-check{
	color:green;
}
.fa-question{
	color:#2c8fe4;
}
.fa-times{
	color:#b30000;
}
.donateButton{
	margin-top: 0.7em;
}
.result-comment{	
    word-break: break-word;
	text-overflow: ellipsis;
	font-style: italic;
}
.other-users{
	margin-top:1em;
}
.full-width-header{
	display: block;
  width: 100%;
}
.panel-distro-footer{
	padding-left:0px;
}
.clear-answer{
	text-decoration: none;
	color:#a94442;
	padding-left: 0.5em;
}
hr{
	display:block;
	width:100%;
}
.listed-distro{
	max-width: 70px;
    margin: 1em;
}
.remove-answer{
    font-size: smaller;
}
.fa-question-circle{
	top:0px;
	position: absolute;
    right: -7px;
    color: rgba(56, 158, 72, 0.81);
}