.selected{
	font-weight:bold;
}
.mark-important,.mark-important:hover{
	text-decoration: none;
}
.important{
	color:orange !important;
	text-decoration: none !important;
	font-weight: bold;
}
.main-container{
	display:none;
}
.hidden{
	display:none;
}
.distribution{
	margin-bottom: 1em !important;
}
.panel-title{
	display:inline;
}
.row{
	margin-left:-15px;
	margin-right: -15px;
}
.container{
	padding-top: 40px;
}
body{
	background: url(./assets/bg.jpg);
}
.button-left-nav{
	color: white;
    display: block;
    width: 70%;
}
.spacer{
	display: block;
	height: 7px;
}
.flag{
	padding-top: 7px;
    width: 40px;
}
.distro-logo{
	max-width: 19%;
    max-height: 50%;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    float: left;
}
.rating{
	text-align: center;
    padding-bottom: 1em;
}
#rating-stars{
	margin: 0 auto;
    padding-bottom: 1em;
}
.rating textarea{
	width: 73%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}
.result-collapse { 
	 transition: height 0.01s;
}
.visible{
	display:block !important;
}
.loader{
	display: none;
	height: 100%;
    width: 100%;
}
.loader p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
	font-size: x-large;
}
.vendor{
	margin-right: 5px;
    margin-bottom: 4px;
}
.navbar-brand>img {
    display: block;
}
.brand{
	width: 160px;
    height: 24px;
}
.answered{
	text-decoration: line-through;
}
.social{
	right: 0px;
    padding-left:54%;
    margin-top: -34px;
    padding-bottom: 1em;
}
.social a{
	font-size:x-large;
	padding-right:0.1em;
}
.share-link{
	padding-bottom: 0.7em;
}
.share-link input{
	width: 73%;
	margin: 0 auto;
}
.fa-twitter{
	color: #55ACEE;
}
.fa-google-plus{
	color: red;
}
.fa-facebook{
	color: #3B5998;
}
.fa-github{
	color:grey;
}