swagger: "2.0"
info:
  description: "HTTP API backend for distrochooser.de, versions 5 and above.
  \n*Terminology*\n
  - A `msgid` is a global identifier for a translateable object. E. g. `software-use-case` will be translated to 'Software: Use case'. This `msgid` values are also used to identify things, such as categories, questions and answers. \n
  - A `session token` is a alphanumeric string identifing the session. Existing results can be altered once to give feedback or to upvote the distributions.\n
  - Locales are identified by `ISO-639-1`. Examples: 'de', 'fr' or 'it'.\n
  - A result references a `Session` and contains a set of `selection`. Each `selection` references one distro and contains multiple `reason` objects"
  version: "5.0.0"
  title: "Distrochooser"
  contact:
    email: "mail@chmr.eu"
  license:
    name: "MPL 2.0"
    url: "https://www.mozilla.org/en-US/MPL/2.0/"
host: "waldorf5.distrochooser.de"
basePath: "/"
schemes:
- "https"
paths:
  /locales/:
    get:
      tags:
        - "session loading"
      description: "Returns the list of currently available locales"
      responses:
        200:
          description: regular case
          schema: 
            type: array
            items: 
              type: string
              format: "ISO-639-1"
          
  /start/{langcode}/{referrer}/:
    get:
      tags:
      - "session loading"
      description: "Create a new server side session and receive language data"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "langcode"
        description: "The requested language to use. Needs to be in ISO-639-1."
        required: true
        type: string
      - in: "path"
        name: "referrer"
        description: "The base64 encoded referrer the API should save within the session. If now referrer is given, a minus should be sent instead."
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/session'
        404:
          description: "Invalid language code"
  /answers/{token}/:
    get: 
      tags:
       - "answer loading"
      description: "Receive the answers of a given session"
      parameters:
      - in: "path"
        name: "token"
        description: "The session token"
        required: true
        type: string
      responses:
       404:
        description: "if one of the parameters are invalid"
       200: 
        description: "Regular case"
        schema:
          $ref: '#/definitions/oldAnswers'
  /question/{index}/:
    get: 
      tags:
       - "question loading"
      description: "Receive the question data for a given category. Questions and categories are connected 1:1. The values are not translated and will be translated at client side"
      parameters:
      - in: "path"
        name: "index"
        description: "A 0-starting index of the category to load"
        required: true
        type: integer
      responses:
       404:
        description: "if one of the parameters are invalid"
       200: 
        description: "Regular case"
        schema:
          $ref: '#/definitions/questionLoad'
  /submit/{langcode}/{backend}/:
    post:
      tags:
        - result submission 
      description: "Submits the data for calculation"
      parameters:
      - in: "path"
        name: "langcode"
        description: "The requested language to use. Needs to be in ISO-639-1."
        required: true
        type: string
      - in: "path"
        name: "backend"
        description: "The backend to choose from. Default is refactored."
        required: true
        type: string
        enum: [refactored, static]
      - in: "body"
        name: "user answers"
        required: true
        schema:
          $ref: '#/definitions/submit'
      responses:
        200:
          description: "Regular case"
          schema:
            $ref: '#/definitions/submitResult'
  /vote/:
    post:
      tags:
        - distribution voting 
      parameters:
      - in: "body"
        name: "user answers"
        required: true
        schema:
          $ref: '#/definitions/selectionVote'
      responses:
        200:
          description: "Regular case"
definitions:
  session:
    type: "object"
    properties:
      token:
        type: "string"
      language:
        type: "string"
        format: "ISO-639-1"
      testCount:
        type: "integer"
        format: "int32"
      translations:
        type: "object"
        description: "Key value pairs for localisation usage"
      question:
        $ref: '#/definitions/category'
      categories:
        type: "array"
        items:
          $ref: '#/definitions/category'
      answers:
        type: "array"
        items:
          $ref: '#/definitions/answer'
    xml:
      name: "Order"
  category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
      msgid:
        type: "string"
      index:
        type: "integer"
        format: "int32"
      iconClass:
        type: "string"
  question:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
      msgid:
        type: "string"
      additionalInfo:
        type: "string"
      isMultipleChoice:
        type: "boolean"
      isMediaQuestion:
        type: "boolean"
  answer:
    type: "object"
    properties:
      msgid:
        type: "string"
      blockedAnswers:
        type: "array"
        items:
          $ref: '#/definitions/answer'
      mediaSourcePath:
        type: string
        description: can be null
  questionLoad:
    type: "object"
    properties:
      question:
        type: "object"
        $ref: '#/definitions/question'
      answers: 
        type: "array"
        items:
          $ref: '#/definitions/answer'
  submittedAnswer:
    type: "object"
    properties:
      msgid:
        type: "string"
      important:
        type: "boolean"
      answered:
        type: "boolean"
  submit:
    type: "object"
    properties:
      answers: 
        type: "array"
        items:
          $ref: '#/definitions/submittedAnswer'
  distribution:
    type: "object"
    properties:
      name:
        type: "string"
      identifier:
        type: "string"
      fgColor:
        type: "string"
      bgColor:
        type: "string"
      url:
        type: "string"
  reason:
    type: "object"
    properties:
      description:
        type: "string"
      isPositiveHit:
        type: "boolean"
      isBlockingHit:
        type: "boolean"
      isRelatedBlocked:
        type: "boolean"
      isNeutralHit:
        type: "boolean"
      isImportant:
        type: "boolean"
  selection:
    type: "object"
    properties:
      distro: 
        type: "object"
        $ref: '#/definitions/distribution'
      reasons:
        type: "array"
        items: 
          $ref: '#/definitions/reason'
      selection:
        type: "integer"
        description: "The id of the distribution selection"
  selectionVote:
    type: "object"
    properties:
      selection: 
        type: "integer"
        description: "The id of the selection to vote"
      positive:
        type: "boolean"      
  submitResult:
    type: "object"
    properties:
      url: 
        type: "string"
        description: "Result URL"
      token: 
        type: "string"
        description: "The result session token"
      selections:
        type: "array"
        items: 
          $ref: '#/definitions/selection'
  oldAnswers:
    type: "object"
    properties:
      answers:
        type: "array"
        items: 
          type: "string"
          format: "msgid"
      categories:
          type: "array"
          items: 
            type: "string"
            format: "msgid"
      important:
          type: "array"
          items: 
            type: "string"
            format: "msgid"
      
