{% load web_extras %}
{% load i18n %}
<div class="row ku-result-item">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="color: {{choosable.fg_color}}; background-color: {{choosable.bg_color}};" id="choosable_{{choosable.pk}}">
                {% _i18n_ language_code choosable "name" %}
            </div>
            <div class="card-body">
                
                <blockquote class="blockquote">
                    <p>{% _i18n_ language_code choosable "description" %}</p>
                </blockquote>

                <div class="row mb-2 mt-2">
                    {% for _, meta_obj in choosable.meta.items %}
                    <div class="col-12 col-xxl-3 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title text-truncate">
                                    {% _i18n_ language_code meta_obj.meta_name %}
                                </h6>
                                <p class="card-text">
                                    <small>
                                        {% meta_value meta_obj %}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="list-group">
                            <div class="row">
                            {% for assignment, weighted_score in assignments %}

                                <div class="col-12 col-xxl-3 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span class="me-1 badge ku-badge-{{assignment.assignment_type|lower}}">
                                                    {% if weighted_score != 1 %}
                                                        {{ weighted_score }}x
                                                    {% endif %}
                                                    <i class="bi bi-dash-circle"></i></span>
                                                {% _i18n_ language_code assignment.assignment_type %}
                                                <small>
                                                    <a href="/feedback/{{assignment.pk}}/{{choosable.pk}}" data-href="/feedback/{{assignment.pk}}/{{choosable.pk}}"  class="ku-feedback-link ms-2">{% feedback_state language_code assignment choosable%}</a>
                                                </small>
                                            </h5>
                                            <p class="card-text"> 
                                                {% _i18n_ language_code  assignment "long_description" %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>