{% load web_extras %}
{% load i18n %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                {% _i18n choosable "name" %}: {{ score }}
            </div>
            <div class="card-body">
                {% _i18n choosable "description" %}

                <div class="row mb-2 mt-2">
                    {% for _, meta_obj in choosable.meta.items%}
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{% _i18n meta_obj "meta_title" %}</h5>
                                <p class="card-text">
                                    {% meta_value meta_obj %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="list-group">
                            {% for assignment in assignments %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <small>{% _i18n assignment.assignment_type %} </small>
                                </div>
                                {% if assignment.long_description %}
                                    <p class="mb-1">{% _i18n  assignment "long_description" %}</p>
                                {% endif %}
                                <small>
                                    {% for facette_topic in assignment.facette_topics %}
                                    <div class="col">
                                        <span class="badge rounded-pill text-bg-light">
                                            {% _i18n facette_topic "topic" %}
                                        </span>
                                    </div>
                                    {%endfor%}
                                </small>
                            </div>
                            {%endfor%}
                        </div>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>