{% load web_extras %}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">{{ left_text }}</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        {% logo %}
    </a>

    <ul class="nav col-md-4 justify-content-end">
        {% for link in links %}
            <li class="nav-item"><a href=" {{ link.href }}" class="nav-link px-2 text-muted"> {{ link.title }}</a></li>
        {% endfor %}
    </ul>
</footer>