{% load web_extras %}
{% load i18n %}
<div class="{% if not page.no_header%}card{%endif%}">
    {% if not page.no_header%}
    <div class="card-header">
        {% _i18n page.get_category "name" %}
    </div>
    {%endif%}
    <div class="card-body">
        {% if not page.hide_text  %}
            {% if page.help and not page.hide_help %}
            <div class="row">
                <!-- FIXME: Expander is broken -->
                <a data-bs-toggle="collapse" href="#{{page.catalogue_id}}" role="button" aria-expanded="false"
                    aria-controls="{{page.catalogue_id}}" class="text-muted text-decoration-none pb-2  ku-page-text">
                    {% _i18n page.text %}<i class="bi bi-info-circle ms-1"></i>
                </a>
                <div class="collapse mb-3" id="{{page.catalogue_id}}">
                    <div class="card card-body">
                        <p class="mb-0 ">
                            {% _i18n page.help %}
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
               <p class="ku-page-text">
                {% _i18n page.text %}
               </p>
            {% endif %}
        {% endif %}
        {% for row in page.structure %}
        <div class="row">
            {% for widget in row %}
            {% if not widget %}
            <div class="col-1"></div>
            {% else %}
            <div class="col col-{{widget.width}}">
                {% render_widget widget page %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var result_id = "{{session.result_id}}"; 
        window.ack(result_id);
    });
</script>
{% footer %}