{% load web_extras %}
<!-- TODO: Hide weight selection if the field is not selected -->
<div class="weight">
    <div class="row">
        <div class="col-2">
            <i class="bi bi-dash-circle-fill weight-icon"></i>
        </div>
        <div class="col-8 text-center">
            <label for="{{field.name}}-weight" class="form-label text-muted fs-6 weight-label">{% _i18n "WEIGHT_LABEL" %}</label>
        </div>
        <div class="col-2 text-end">
            <i class="bi bi-plus-circle-fill weight-icon"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group ku-weight-input-group">
                <input type="range" name="{{field.name}}-weight" class="form-range" min="-2" max="2" value="{{value}}" id="{{field.name}}-weight">
            </div>
        </div>
    </div>
</div>