{% load distrochooser_extras %}
<div class="card">
    <div class="card-header">
        {{ matrix_tuple.description }}

        <div>
            <a href="?action=delete&mapping={{matrix_tuple.id}}" class="badge text-bg-danger">Remove</a>
        </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div id="matrix_drop_{{matrix_tuple.id}}" class="drag-target " ondrop="drop_entry(event)"
            ondragover="drop_enable(event)">
            Drop new distros here
        </div>
      </li>
      <li class="list-group-item">
      {% for distro in matrix_tuple.distros.all %}
      {% tag_distro distro matrix_tuple answer %}
      {% endfor %}   
      </li> 
      {% if matrix_tuple.get_distro_removal_suggestions.count > 0 %}
      <li class="list-group-item">
        <h3>Suggestion: Distro remove</h3>
        <div id="matrix_drop_{{suggestion_tuple.id}}" class="border border-warning">
            {% for user_suggestion_tuple in matrix_tuple.get_distro_removal_suggestions  %}
                    {% tag_distro user_suggestion_tuple.distro matrix_tuple answer user_suggestion_tuple %}
            {% endfor %}
        </div>
      </li>
      {% endif %}
      
      {% if matrix_tuple.get_distro_suggestions.count > 0 %}
      <li class="list-group-item">
        {% for suggestion_tuple in matrix_tuple.get_distro_suggestions %}
        <h3>Suggestion</h3>
        <div id="matrix_drop_{{suggestion_tuple.id}}" ondrop="drop_entry(event)" ondragover="drop_enable(event)"
            class="drag-target border border-warning">
            {% tag_distro suggestion_tuple.distro matrix_tuple answer suggestion_tuple %}
        </div>
        {% endfor %}
      </li>
      {% endif %}
  </div>