.ku-color-bw {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ku-font-larger {
    font-size: larger;
}

.ku-font-largest {
    font-size: x-large;
}