.card {
    .card-header {
        margin-left: -1em;
        margin-right: -1em;
        border: 0px;
        background: black;
        color: white;
        border-radius: 0px !important;
        margin-top: 0.5em;
    }
}