/* FIXME: Missing prefixes */
.badge-positive {
    background-color: green;
}
.badge-neutral {
    background-color: grey;
    color: white;
}
.badge-blocking {
    background-color: black;
}
.badge-negative {

    background-color: red;
}

.ku-page-text {
    font-size: larger;
}