
.ku-badge-positive {
    background-color: green;
}
.ku-badge-neutral {
    background-color: grey;
    color: white;
}
.ku-badge-blocking {
    background-color: black;
}
.ku-badge-negative {

    background-color: red;
}

.ku-badge-0-25x {
    background-color: #eff3ff;
}

.ku-badge-0-5x {
    background-color: #9ecae1;
}

.ku-badge-2x {
    background-color: #4292c6;
}
.ku-badge-4x {
    background-color: #084594;
}

.ku-page-text {
    font-size: larger;
}

.bi-flag, 
.bi-flag-fill {
    color: darkred;
}
