.ku-i18n-translateable {
    border-bottom: 5px dotted red;
}

.ku-i18n-translateable-fromstorage  {
    border-bottom: 5px dotted yellow !important;
}

.ku-i18n-translateable-done  {
    border-bottom: 5px dotted green !important;
}

.ku-i18n-missing {
    border-bottom: 1px dashed black;
}