.btn[value="BTN_NEXT_PAGE"] {
    background-color: #05396b;
    border-color: #05396b;
    border-radius: 0px;
}

.btn[value="BTN_PREV_PAGE"] {
    border-radius: 0px;
}

.btn[value="BTN_SKIP_PAGE"] {
    border-radius: 0px;
}