.ku-step {
    margin-bottom: 0.25em;
    font-size: large;
}
.ku-step-button {
    background: #fff0;
    border: 0px rgb(14, 15, 16);
}
.ku-step-major {
    background-color: grey;
    color: white;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    top: 1px;
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    &.ku-step-major-active {
        background-color: black;
    }
    i {
        margin-left: 0.25em;
    }
}
.ku-step-major-title {
    padding-left: 0.2em;
    position: relative;
}
.ku-step-minor-title {
    font-size: smaller;
    display: block;
    border-left: 3px solid black;
    margin-left: 1.4em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    color: grey;

    &.ku-step-title-active {
        color: grey;
    }
}

.ku-step-major-title button,
.ku-step-minor-title button {
    color: grey;
    text-decoration: none;

    &.ku-step-active {
        color: black;
        text-decoration: underline;
    }
}


.ku-step-answered {
    font-weight: bold;
}

.ku-step-marked {
    color: gold;
    position: relative;

    &.bi-exclamation-octagon-fill{
        color: red;
    }

    &.bi-exclamation-square-fill{
        color: blue;
    }
}

.ku-language-select-container {
    margin-left: 0.5em;
}