.ku-step {
    margin-bottom: 0.25em;
}
.ku-step-button {
    background: #fff0;
    border: 0px rgb(14, 15, 16);
}
.ku-step-major {
    background-color: red;
    color: white;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    top: 1px;
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    &.ku-step-major-active {
        background-color: green;
    }
    i {
        margin-left: 0.25em;
    }
}
.ku-step-major-title {
    padding-left: 0.2em;
    position: relative;
}
.ku-step-minor-title {
    display: block;
    border-left: 3px solid red;
    margin-left: 1.1em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    color: grey;

    &.ku-step-title-active {
        border-left-color: green;
    }
}

.ku-step-major-title button,
.ku-step-minor-title button {
    color: grey;
    text-decoration: none;

    &.ku-step-active {
        color: black;
    }
}


.ku-step-answered {
    font-weight: bold;
}