.welcome-widget-list {
    list-style-type: none;
    padding-left: 0px;

    .bi-skip-forward {
        color: #e4ae4c;
    }

    .bi-view-list {
        color: #39ba95;
    }

    .bi-list-ol {
        color: #39ba95;
    }

    .bi-x-octagon-fill {
        color: grey;
    }

    .bi-plus-slash-minus {
        color: #ff7a00
    }
}


.ku-language-select-container {
    margin-left: 0.5em;
    position: fixed;
    top: 1em;
}