asgiref==3.7.2
crispy-bootstrap5==0.7
Django==4.2.18
django-cors-headers==4.3.1
django-cprofile-middleware==1.0.5
django-crispy-forms==2.0
django-debug-toolbar==4.3.0
gunicorn==22.0.0
packaging==23.2
polib==1.2.0
python-dateutil==2.9.0.post0
six==1.16.0
snakeviz==2.2.0
sqlparse==0.5.0
tornado==6.4.2
user-agents==2.2.0
termcolor==2.4.0