{% extends '_layout.html' %}
{% load web_extras %}
{% load i18n %}
{% block title%}Distrochooser{% endblock %}
{% block content%}
<h1>{% _i18n "ABOUT_PAGE_TITLE" %}</h1>
<p>
    {% _i18n "ABOUT_PAGE_TEXT" %}
</p>
<p>
    {% trans "ABOUT_PAGE_TEXT_STATS" %} {{ count }}
</p>
<h2>
    {% _i18n "ABOUT_PAGE_LICENSE_TITLE" %}
</h2>
<p>
    {% _i18n "ABOUT_PAGE_LICENSE_TEXT" %}
    <a href="https://github.com/distrochooser/distrochooser">{% _i18n "ABOUT_PAGE_LICENSE_LINK" %}</a> ({% _i18n "PRIVACY_PAGE_EXTERNAL_LINK" %}).
</p>
<p>
    {% _i18n "ABOUT_PAGE_LICENSE_DATABASE_TEXT" %}
</p>

{% footer %}
{% endblock %}