@media only screen and (max-width: $mobileWidth) {
  .breadcrumb-horizontal {
    left: -25px !important;
    padding-left: 0px;
    width: auto;
    padding: 0px !important;
    top: unset !important;
  }
  .breadcrumb-horizontal ul li span {
    display: none;
  }
  .breadcrumb-horizontal ul li i.fa-check {
    display: none;
  }
  .welcome-text h1 {
    font-size: large;
  }
  .welcome-text {
    font-size: 10pt !important;
    margin-bottom: 4em;
  }
  .footer {
    position: fixed !important;
    text-align: right !important;
    font-size: small !important;
    background: white !important;
    padding: 0.5em !important;
    text-align: center !important;
    border-top: 1px solid $linkColor;
  }
  .answer-remark {
    left: 3em !important;
  }
  .remarks textarea {
    width: 100%;
    margin-left: unset !important;
    margin-right: unset !important;
  }
  .additional-infos {
    width: 84% !important;
    margin-right: 1em !important;
  }
  .languages {
    bottom: initial !important;
    top: 1em !important;
    left: 1em !important;
    right: initial !important;
    position: absolute !important;
  }
  .view-settings {
    display: none;
  }
  .question {
    margin-bottom: 1em;
    width: 84% !important;
    margin-left: 13% !important;
    margin-top: unset !important;
  }
  .top-logo-container {
    margin-bottom: 1em !important;
  }
  .question-text {
    font-size: 15px !important;
  }
  .answer {
    font-size: 13px !important;
  }
  .mobile-active {
    color: $activeStepForeground !important;
    padding-left: 0.4em;
    border-left: 2px solid $activeStepForeground;
  }
  .top-logo {
    width: 40% !important;
  }
  .link input {
    width: 100%;
    font-size: 8pt;
    padding: 1em;
  }
  .floating-button a span {
    display: none;
  }
  .floating-button {
    margin-left: 2.1em !important;
    padding: 0.5em !important;
    padding-right: 0.0 !important;
  }
  .step {
    font-size: small !important;
  }
}