$mobileWidth: "600px";


//Colors

$background: #F4F6F9;
$lightAccent: #D9D9D9;
$questionBackground: #E5E5E5;
$selectedAnswerBackground: #4484CE;
$selectedAnswerForeground: #FFFFFF;
$unselectedAnswerBackground: #FFFFFF;
$unselectedAnswerForeground: #000000;
$skipButtonColor: #E3AC4A;
$markImportantUnselectedColor: #333333;
$markImportantSelectedColor: red;
$activeStepForeground: #4484CE;
$nextButtonBackground: #4484CE;
$nextButtonForeground: white;