$mobileWidth: "1200px";
$desktopMinWidth: "1200px";
$desktopWidth: "1400px";

//Colors

$background: #F4F6F9;
$lightAccent: #969696;
$questionBackground: white;
$selectedAnswerBackground: #05396b;
$selectedAnswerForeground: #FFFFFF;
$unselectedAnswerBackground: #FFFFFF;
$unselectedAnswerForeground: #000000;
$skipButtonColor: #E3AC4A;
$markImportantUnselectedColor: #333333;
$markImportantSelectedColor: red;
$answeredCategoryBackground: green;
$answeredCategoryForeground: #FFFFFF;
$activeStepForeground: #05396b;
$nextButtonBackground: #05396b;
$nextButtonForeground: white;
$linkColor: #05396b;
$spinColor: #05396b;
$answeredColor: #05396b;
$categoryIconColor: #4d4d4d;;
$lightColor: #05396b;
$additionalInfoBackground: #05396b;
$additionalInfoIcon: #e1760d;
$infoBoxBackground: $additionalInfoBackground;

//Resets
*:focus {
  outline: none;
}

i{
  vertical-align: top;
}
@import "mobile.scss"